@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30292F;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 3px;
    
    width: 30rem;
    height: 30rem;
    
    background-color: #5D737E;
}

.square {
    background-color: #30292F;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Itim', cursive;
    font-size: 2rem;
    color: #fcfcfc;
    
    cursor: pointer;
}

.message {
    opacity: 0;
    cursor: pointer;
}

.message.active {
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D737E;
    color: #fcfcfc;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;

    transition: all .5s ease-in-out
}
